PI/src/__pycache__/*
PI/src/certinfo/*
PI/src/keys/*
PI/src/tests/.coverage
PI/src/modules/__pycache__/*
WebApp/MQTTCon/keys/*
WebApp/node_modules/*
WebApp/react-app/node_modules/*
venv/*
pi/src/tests/keys/*
